<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="site.shzu.demo.dao.OrdersDao">
  <resultMap id="OrdersResultMap" type="site.shzu.demo.model.Orders">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="fee" jdbcType="DOUBLE" property="fee" />
    <result column="dates" jdbcType="DATE" property="dates" />
  </resultMap>

  <select id="selectAllOrders" resultType="java.util.HashMap">
    select o.id,o.name,o.address,o.fee,DATE_FORMAT(o.dates,'%Y-%m-%d') dates from orders o
  </select>

  <sql id="Base_Column_List">
    id, name, address, fee, dates
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="OrdersResultMap">
    select
    <include refid="Base_Column_List" />
    from orders
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from orders
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="site.shzu.demo.model.Orders">
    <selectKey keyProperty="id" order="BEFORE" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into orders (id, name, address,
    fee, dates)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR},
    #{fee,jdbcType=DOUBLE}, #{dates,jdbcType=DATE})
  </insert>
  <insert id="insertSelective" parameterType="site.shzu.demo.model.Orders">
    <selectKey keyProperty="id" order="BEFORE" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into orders
    <trim prefix="(" suffix=")" suffixOverrides=",">
      id,
      <if test="name != null">
        name,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="fee != null">
        fee,
      </if>
      <if test="dates != null">
        dates,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      #{id,jdbcType=INTEGER},
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="fee != null">
        #{fee,jdbcType=DOUBLE},
      </if>
      <if test="dates != null">
        #{dates,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="site.shzu.demo.model.Orders">
    update orders
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="fee != null">
        fee = #{fee,jdbcType=DOUBLE},
      </if>
      <if test="dates != null">
        dates = #{dates,jdbcType=DATE},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="site.shzu.demo.model.Orders">
    update orders
    set name = #{name,jdbcType=VARCHAR},
    address = #{address,jdbcType=VARCHAR},
    fee = #{fee,jdbcType=DOUBLE},
    dates = #{dates,jdbcType=DATE}
    where id = #{id,jdbcType=INTEGER}
  </update>

</mapper>