<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="site.shzu.demo.dao.PermissionInitDao">
  <resultMap id="BaseResultMap" type="site.shzu.demo.model.PermissionInit">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="permissionInit" jdbcType="VARCHAR" property="permissioninit" />
  </resultMap>
  <sql id="Base_Column_List">
    id, url, permissionInit
  </sql>
  <select id="selectAllPermissionInit" resultMap="BaseResultMap">
    select * from permission_init order by id desc
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from permission_init
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from permission_init
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="site.shzu.demo.model.PermissionInit">
    insert into permission_init (id, url, permissionInit
      )
    values (#{id,jdbcType=INTEGER}, #{url,jdbcType=VARCHAR}, #{permissioninit,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="site.shzu.demo.model.PermissionInit">
    insert into permission_init
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="url != null">
        url,
      </if>
      <if test="permissioninit != null">
        permissionInit,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="url != null">
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="permissioninit != null">
        #{permissioninit,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="site.shzu.demo.model.PermissionInit">
    update permission_init
    <set>
      <if test="url != null">
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="permissioninit != null">
        permissionInit = #{permissioninit,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="site.shzu.demo.model.PermissionInit">
    update permission_init
    set url = #{url,jdbcType=VARCHAR},
      permissionInit = #{permissioninit,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>