<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="site.shzu.demo.dao.UserRoleDao">
  <resultMap id="BaseResultMap" type="site.shzu.demo.model.UserRole">
    <result column="uid" jdbcType="INTEGER" property="uid" />
    <result column="rid" jdbcType="INTEGER" property="rid" />
  </resultMap>
  <select id="selectRoleByUserId" parameterType="site.shzu.demo.model.User" resultType="java.lang.String">
    select r.type
    from user u,role r,user_role ur
    where u.id=ur.uid and r.id=ur.rid and u.id=#{id}
  </select>
  <insert id="insert" parameterType="site.shzu.demo.model.UserRole">
    insert into user_role (uid, rid)
    values (#{uid,jdbcType=INTEGER}, #{rid,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="site.shzu.demo.model.UserRole">
    insert into user_role
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="uid != null">
        uid,
      </if>
      <if test="rid != null">
        rid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="uid != null">
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="rid != null">
        #{rid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>